/** {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

#game-main {
    background-color: blue;
    margin: 0px auto;
    width: 507px;
    height: 760px;
}



#ws-game-table {
    background-color: green;
/*    gap: 0.5rem;*/
/*    !* height: 82%; *!*/
/*    !* width: 80%; *!*/
/*    margin: 10 auto;*/
/*    aspect-ratio: 1 / 1;*/
/*    */
/*    margin: 0auto;*/
}


#cells {
/*    height: 100%;*/
/*    width: 100%;*/
}

#cells table {
    justify-content: center;
}

.singleRow {
    width: 100%;
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    align-content: space-around;*/
/*    justify-content: center;*/
}

.singleCell {
    border: 1px solid black;
/*    aspect-ratio: 1 / 1;*/
/*}*/
/*.singleCell >div> img {*/
/*    justify-content: center;*/
/*    background-position: center; !* Added *!*/
/*    background-size: cover; !* Added *!*/
/*    background-repeat: no-repeat;*/
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

#ws-circle {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 528px;
    display: inline-flex;
    padding: 0 0 0 230px;
}

#ws-timer {
    width: 40px;
    margin-right: 13px;
    height: 40px;
    border-radius: 25px;
    font-size: 37px;
    line-height: 41px;
}

.ws-flag {
    display: inline-block;
    width: 22px;
    height: 22px;
    /* background: rgba(255,255,255,0.9); */
    margin: 13px 4px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 23px;
    background-color: #83B7FF;
    color: #fff;
    /* z-index: 1; */
    text-align: center;
    /* background-position: center; */
    /* background-size: contain; */
    border: 2px solid #fff;
}

#ws-game-choices {
    top: 600px;
    position: absolute;
    display: inline-flex;
}

#ws-game-icons {
    display: flex;
    margin-left: 26px;
}

.ws-single-icons {
    margin: 2px;
    height: 143px;
    width: 143px;
    border: 2px solid black;
}
